<h3 class="center-align">VK</h3>
<div class="container" id="vkForm">

  <h3 class="title">
    Login via VK:
    <a class="btn btn-floating btn-large blue pulse" (click)="onVkLogin()">
      <i class="material-icons">done </i>
    </a>
  </h3>
  <div class="row">
    <div class="col s6">
      <table>
        <tr>
          <td>
            <label for="firstname"> First Name</label>
          </td>
          <td>
            <input id="firstname" [(ngModel)]="vkuser.firstName">
          </td>
        </tr>
        <tr>
          <td>
            <label for="lastname"> Last Name</label>
          </td>
          <td>
            <input id="lastname" [(ngModel)]="vkuser.lastName">
          </td>
        </tr>
        <tr>
          <td>
            <label for="city"> City </label>
          </td>
          <td>
            <input id="city" [(ngModel)]="vkuser.city">
          </td>
        </tr>
      </table>
    </div>
    <div class="col s6">
      <img src="{{vkuser.photoUrl}}" alt="avatar">
    </div>
  </div>
</div>
