<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a routerLink="/login">Sign in</a></li>
    <li><a routerLink="/registration">Sign up</a></li>
    <li><a routerLink="/vk">VK test</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img class="logo" src="../assets/Logo.png" alt="logo"></a>
      <ul class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
