<div id="spinner" class="spinner" *ngIf="loading">
  <img id="img-spinner" src="../../assets/markers/load.gif" alt="Loading"/>
</div>
<h1 class="display-4 text-center">My owned offers</h1>
<div id="cont" *ngIf="ownedOffers != null && ownedOffers.length>0; else noDataBlock">
  <div class="row">
    <div class="col-md-4 col-12" *ngFor="let offer of ownedOffers">
      <div class="card  mb-2">
        <div class="card-header">
          <h5 class="mb-0">{{offer.ownerName}}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{offer.name}}</p>
          <img class="card-img img-thumbnail" src="{{offer.photoURL}}" alt="">
          <p class="card-text"><span class="badge badge-dark">{{offer.category.name}}</span></p>
          <p class="card-text">Price: <span class="badge badge-success">{{offer.price}} q.</span></p>
          <p class="card-text">Expires on {{offer.expireDate.toDateString()}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noDataBlock>
  <div *ngIf="ownedOffers == null; else noOffersBlock">

    <h5>Loading own offers...</h5>
  </div>
  <ng-template #noOffersBlock>
    <h5 align="center">You do not have your own offers</h5>
  </ng-template>
</ng-template>
