<div class="container">
  <div class="row">
    <!--
    First 'col' word is only for compatibility with map.component.css file
    Bootstrap uses classes like 'col-xx-nn'
    -->
    <div class="col-sm-12 col-md-8">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
        <agm-marker *ngFor="let m of markers; let i=index"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    [label]="m.label"
        >
          <agm-info-window>

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{m.label}}</h5>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="w-100" src="{{m.photos[0].url}}" alt="">
                    </div>
                    <div class="carousel-item" *ngFor="let photo of m.photos.slice(1)">
                      <img class="w-100" src="{{photo.url}}" alt="">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <p class="card-text">{{m.photos.length}} photos</p>
                <p class="card-text">{{m.description}}</p>
                <h6>Available in quests</h6>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let quest of m.quests">{{quest.name}}</li>
                </ul>
              </div>
            </div>



          </agm-info-window>

        </agm-marker>
      </agm-map>

    </div>
    <div class="col-sm-12 col-md-4">
      <h5>Quests nearby</h5>
      <div id="accordion">
        <div class="card" *ngFor="let quest of quests">
          <div class="card-header" [id]="'heading'+quest.name">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse"
                      attr.data-target="{{'#collapse'+quest.name}}" attr.aria-expanded="false"
                      attr.aria-controls="{{'#collapse'+quest.name}}">
                {{quest.name}}
              </button>
            </h5>
          </div>

          <div [id]="'collapse'+quest.name" class="collapse" attr.aria-labelledby="{{'heading'+quest.name}}"
               data-parent="#accordion">
            <div class="card-body">
              <img class="card-img img-thumbnail" src="{{quest.photoURL}}" alt="">
              <p class="card-text">{{quest.description}}</p>
              <p class="card-text">Consists of <span class="badge badge-secondary">{{quest.spots.length}}</span> spots</p>
              <p class="card-text">Uploaded <span class="badge badge-secondary">{{this.howManyUserPhotosInQuest(quest)}}</span>  photos</p>
              <div class="row">
                <div class = 'col-8'>
                  Reward: <span class="badge badge-warning">{{quest.reward}}</span> points
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-outline-primary">Join</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

