#sign {
  /*position: relative;
  left: 160px;*/
  font-family: 'Vollkorn', cursive;
}
.container {
  position: relative;
  top: 100px;
}
.color {
  background-color: #F5F5F5;
  height: 650px;
}

/*#submit {
  position: relative;
  left: 420px;
}*/
