<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/mainpage">ECity</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a id="maplink" class="nav-link" routerLink="/map">Map</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <div class="row">
      <div class="col">
        <li>
          <button id="signin" type="button" class="btn btn-primary" routerLink="/login">Sign in</button>
        </li>
      </div>

      <div class="col">
        <li>
          <button id="signup" type="button" class="btn btn-outline-success" routerLink="/registration">Sign up</button>
        </li>
      </div>
    </div>
  </ul>
</nav>
