.row agm-map{
  height: 530px;

  margin: 0% 100% 0% 0%;
}

.color  {
  background-color: #F5F5F5 ;

}

#questnea {
  font-family: 'Vollkorn', cursive;
  position: relative;
  left: 100px;
}

#load {
  position: relative;
  left: 100px;
  top: 25px;
  font-family: 'Vollkorn', cursive;

}

#size {

  top: 10px;
  height: 550px;
  background: #F8F8FF;
  border: 0px solid #C1C1C1;
  overflow-y: scroll;
}
