
.navbar-brand {
  color: whitesmoke;
  font-family: 'Kaushan Script', cursive;
}


#maplink {

  font-family: 'Playfair Display SC', serif;

}

#confirmations {

  font-family: 'Playfair Display SC', serif;

}

#userquests {
  position:relative;
  font-family: 'Playfair Display SC', serif;
}

#newquest {
  position:relative;
  font-family: 'Playfair Display SC', serif;
}

#vk {
  position: relative;
  font-family: 'Playfair Display SC', serif;
}
