
.navbar-brand {
  color: white;
  font-family: 'Kaushan Script', cursive;
}

#maplink, #promotionsLink, #userquestsLink, #newquestLink, #newofferLink, #confirmationsLink{
  color: #ffffff;
  font-family: 'Playfair Display SC', serif;
}

