<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Photo</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form>
<form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" readonly [(ngModel)]="user.email" class="form-control-plaintext" id="staticEmail" name="staticEmail">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Registration date</label>
    <div class="col-sm-10">
      <input type="text" readonly [(ngModel)]="user.registrationDate" class="form-control-plaintext" id="staticRegistrationDate" name="staticRegistrationDate" value="18.02.18">
    </div>
  </div>
  <form>
    <div class="row">
      <div class="col">
        <input type="text" [(ngModel)]="user.firstName" name= "firstName" class="form-control" placeholder="First name">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" [(ngModel)]="user.lastName" name="lastName" class="form-control" placeholder="Last name">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" [(ngModel)]="user.birthday" name="birthday" class="form-control" placeholder="Birthday">
      </div>
    </div>
  </form>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputNewPassword" class="col-sm-2 col-form-label">NewPassword</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputNewPassword" placeholder="NewPassword">
    </div>
  </div>
  <div class="form-group row">
    <label for="confirmNewPassword" class="col-sm-2 col-form-label">ConfirmNewPassword</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="confirmNewPassword" placeholder="ConfirmNewPassword">
    </div>
  </div>
  <button type="submit" class="btn btn-primary mb-2">SaveNewPassword</button>
</form>
