<app-header></app-header>
<div id="spinner" class="spinner" *ngIf="loading">
  <img id="img-spinner" src="../../assets/markers/load.gif" alt="Loading"/>
</div>
<div class="container">
  <div class="card mt-2 bg-light">
    <div class="card-body">
      <h5 id="questpage" class="display-4 text-center">Quest page</h5>
      <div *ngIf="quest.status!=3; else bannedBlock">
      <div *ngIf="quest.status!=2; else closedBlock">
      <div *ngIf="quest.uploadDate!=null && quest.status < 2; else loadingBlock">

        <div class="card">
          <div id="tests" class="card-body">
            <h3 class="card-title">{{quest.name}}</h3>
            <p class="card-text">{{quest.description}}</p>
            <p class="card-text">
              Uploaded <span class="badge badge-secondary">{{questService.howManyUserPhotosInQuest(quest)}}</span>
              photos
            </p>
            <p class="card-text">
              Reward: <span class="badge badge-warning">{{quest.reward}} q.</span> points
            </p>
            <p class="card-text" *ngIf="quest.numberOfParticipants > 1">
              Quest is for: <span class="badge badge-primary">{{quest.numberOfParticipants}}</span> people
            </p>
            <p class="card-text" *ngIf="quest.numberOfParticipants == 1">
              Quest is for: <span class="badge badge-primary">{{quest.numberOfParticipants}}</span> person
            </p>
            <p class="card-text">
              Places left: <span class="badge badge-danger">{{placesLeft}}</span>
            </p>
            <p class="card-text">
              Created on {{quest.uploadDate.toDateString()}}
            </p>
            <p class="card-text" *ngIf="user.id != quest.owner.id && user.groupID.name != 'Admin'">
              Created by <a routerLink="/user/{{quest.owner.id}}">{{quest.owner.firstName}}</a>
              <button class="btn btn-warning" [disabled] = "reported" (click)="reportQuest(quest.questId)">
                Report quest
              </button>
            </p>

            <p class="card-text" *ngIf="user.id != quest.owner.id && user.groupID.name == 'Admin'">
              Created by <a routerLink="/user/{{quest.owner.id}}">{{quest.owner.firstName}}</a>
              <button class="btn btn-warning" (click)="banQuest(quest.questId)">
                Ban quest
              </button>
            </p>

            <p class="card-text" *ngIf="user.id == quest.owner.id">
              Created by You
            </p>
            <p class="card-text" *ngIf="user.id == quest.owner.id">
              <span class="badge badge-warning"> You cannot report your own quest!</span>
            </p>

            <div *ngIf="userProgress.takingDate==null; else progressBlock">
              <button type="button" class="btn btn-success"
                      (click)="joinQuest()">
                Join
              </button>

            </div>

            <div *ngIf="user.id == quest.owner.id && quest.status < 2">
              <button type="button" class="btn btn-success"
                      (click)="closeQuest()">
                Close
              </button>
            </div>

            <ng-template #progressBlock>
              <div *ngIf="userProgress.dateComplete==null; else completedBlock">
                <div class="alert alert-primary col-md-8 col-sm-12" role="alert">
                  <h4>You are in process of completing this quest!</h4>
                  <br>
                  {{questService.howManySpotsCompleted(userProgress)}}/{{questService.howManySpotsInQuest(quest)}} spots
                  ({{questService.getUserProgressInPercents(userProgress)}}%) completed
                </div>
              </div>
              <ng-template #completedBlock>
                <div class="alert alert-success" role="alert">
                  <h4>You have completed this quest on {{userProgress.dateComplete.toDateString()}}!</h4>
                </div>
              </ng-template>
            </ng-template>
          </div>
        </div>

        <div class="collapse col-md-4 col-sm-12" id="collapseMessage">
          <div class="alert alert-primary" role="alert">
            {{errorMsg}}
          </div>
        </div>

        <h1 class="display-4">Spots</h1>
        <div>
          Quest consists of <span class="badge badge-secondary">{{questService.howManySpotsInQuest(quest)}}</span>
          spots
        </div>

        <div class="row">
          <div class=col-12>
            <agm-map [latitude]="mapLat" [longitude]="mapLng" [zoom]="15">
              <agm-marker *ngFor="let m of markers"
                          [latitude]="m.lat"
                          [longitude]="m.lng"
                          [label]="{
			                  color: 'black',
			                  fontWeight: 'bold',
			                  fontSize: '10px',
			                  text: m.label
		  	              }"
              >
              </agm-marker>
            </agm-map>
          </div>
        </div>

        <div *ngFor="let spot of quest.spots">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{spot.name}}</h5>
              <p class="card-text">{{spot.photos.length}} photos</p>
              <p class="card-text">Spot description will be here when we update the database to support it</p>
              <div id="carousel{{spot.name}}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="w-100" src="{{spot.photos[0].url}}" alt="">
                  </div>
                  <div class="carousel-item" *ngFor="let photo of spot.photos.slice(1)">
                    <img class="w-100" src="{{photo.url}}" alt="">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel{{spot.name}}" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel{{spot.name}}" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <div class="form-group mt-2"
                   *ngIf="userProgress.takingDate!=null && !questService.isSpotCompleted(spot, userProgress); else noUploadBlock">




                <div class="form-row">
                  <div class="col-md-5 col-sm-12">
                    <label class="btn-upload" for="spotPhoto{{spot.name}}">Upload your photo</label>
                    <input type="file"
                           id="spotPhoto{{spot.name}}"
                           class="form-control-file"
                           name="spotPhoto{{spot.name}}"
                           (change)="selectFile($event, spot.spotId)"
                           required
                    >
                  </div>
                  <div class="col-md-2 col-sm-5">
                    <img *ngIf="photosToUpload[spot.spotId]" src="{{photosToUpload[spot.spotId]}}" height="100px">
                  </div>

                  <div class="col-md-2 col-sm-5">
                    <br>
                    <button id="uploadBtn{{spot.name}}" class="btn btn-info" (click)="postPhoto(spot.spotId)"
                            type="button">
                      Upload
                    </button>
                  </div>

                </div>
              </div>
              <ng-template #noUploadBlock>
                <div *ngIf="userProgress.takingDate != null">
                  <div *ngIf="questService.isSpotConfirmed(spot, userProgress); else unconfirmedBlock">
                    <div class="alert alert-success" role="alert">
                      <h4>You have completed this spot!</h4>
                    </div>
                  </div>
                  <ng-template #unconfirmedBlock>
                    <div class="alert alert-warning" role="alert">
                      <h4>Spot is completed, but not confirmed by quest owner yet!</h4>
                    </div>
                  </ng-template>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>

      <ng-template #loadingBlock>
        <h5>Loading quest info...</h5>
      </ng-template>
      <ng-template #closedBlock>
        <h5>Quest is closed</h5>
      </ng-template>
      <ng-template #bannedBlock>
        <h5>Quest is banned</h5>
      </ng-template>
    </div>
  </div>
</div>

