
textarea{
  resize: none;
}

.quest-col{
  height: 250px;
  overflow: auto;
}


#font {
  font-family: 'Vollkorn', cursive;
  position: relative;
  text-align: center;


}
#name {
  height: 30px;
  width: 30px;
}

#desc {
  width: 64%;

}
#submit{
  position: relative;
  width: 64%;
}

agm-map{
  height:110vh;
}

.label-hidden{
  visibility: hidden;
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50px; /* half width of the spinner gif */
  margin-top: -50px; /* half height of the spinner gif */
  text-align:center;
  z-index:1234;
  overflow: auto;
  width: 100px; /* width of the spinner gif */
  height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}


