.row .col agm-map{
  height: 89%;
  width: 89%;
  position: relative;
  left: 40px;

}
textarea{
  resize: none;
}

.quest-col{
  height: 250px;
  overflow: auto;
}
#font {
  font-family: 'Vollkorn', cursive;
  position: relative;
  /*left: 10px;*/

}
#name {
  height: 30px;
  width: 30px;
}

#desc {
width: 64%;

}
#submit{
  position: relative;
  width: 64%;
}
.color  {
  background-color: #F5F5F5 ;

}


