
<app-header></app-header>
<div id="spinner" class="spinner" *ngIf="loading">
  <img id="img-spinner" src="../../assets/markers/loader.gif" alt="Loading"/>
</div>
<div class="color">
  <div class="container">
    <h1 id="font">Create your own quest</h1>
  </div>
  <div class="collapse col-md-12 col-sm-12" id="collapseMessage">
    <div class="alert alert-primary" role="alert">
      {{errorMsg}}
    </div>
  </div>


  <div class="row">
   <div class="col col-md-7 col-xs-12">
      <agm-map [latitude]="lat" [longitude]="lng" (mapReady)="mapReady($event)">
        <agm-marker *ngFor="let marker of markers; let i = index"
                    [latitude]="marker.lat"
                    [longitude]="marker.lng"
                    [markerDraggable]="marker.draggable"
                    [label]="marker.label"
                    (dragEnd)="getPos($event, i)"
                    [iconUrl]="marker.iconUrl"
        >

        </agm-marker>
      </agm-map>
    </div>

    <div class="col-md-5 col-xs-12">
      <form id="newQuestForm" novalidate>
        <div class="form-group">
          <div class="form-row">
            <div class="col-">
              <label  for="questName">Name</label>
              <input id="name" type="text" class="form-control" id="questName" name="questName" value=""
                     [(ngModel)]="quest.name" required>
            </div>
            <div class="col-3">
              <label for="questReward">Reward</label>
              <input type="number" class="form-control" id="questReward" name="questReward" value=""
                     [(ngModel)]="quest.reward"
                     (change)="calculateCost(quest.reward, quest.numberOfParticipants, spots.length)"
                     required>
            </div>
            <div class="col-5">
              <label for="numberOfParticipants">Number of participants</label>
              <input type="number" class="form-control" id="numberOfParticipants" name="numberOfParticipants" value=""
                     [(ngModel)]="quest.numberOfParticipants"
                     (change)="calculateCost(quest.reward, quest.numberOfParticipants, spots.length)"
                     required>
            </div>
          </div>
        </div>
          <div>
            <p>Quest cost:  {{cost}}</p>
          </div>
        <div>
          <p>Balance:  {{balance}}</p>
        </div>
        <div  id="desc" class="form-group">
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel  title="Description">
              <ng-template ngbPanelContent>
              <textarea rows="8" cols="80" placeholder="Enter a short description for your quest..."
                        class="form-control"
                        id="questDescription" name="questDescription"
                        [(ngModel)]="quest.description" required> </textarea>

              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="form-group col-9">
              <label>Add spot:
                <button type="button" class="circle-btn btn btn-outline-success" [disabled] = "loading" (click)="addSpotForm()">
                  +
                </button>
              </label>
            </div>
          </div>
        </div>

        <div id="form" class="quest-col form-group">
          <div class="form-row" *ngFor="let spot of spots; let i = index">
            <div class="col-3">
              <label for="spotName">Spot name</label>
              <input #spotName type="text" class="form-control"
                     id="spotName" name="spotName"
                     placeholder="{{spot.name}}"
                     [(ngModel)]="spots[i].name"
                     (focus)="activateMarker(i)"
              >
            </div>
            <div class="col-4">
              <label for="spotPhoto">Photo</label>
              <input type="file"
                     id="spotPhoto"
                     class="form-control-file"
                     name="spotPhoto"
                     (change)="selectFile($event, i)"
                     required
              >
            </div>
            <div class="col-2">
              <label for="uploadBtn" class="label-hidden"> hide </label>
              <button id="uploadBtn" class="btn btn-info" type="button" [disabled]="!photoAdded[i] || loading"
                      (click)="uploadSpotPhoto(spotName.value,i)">
                upload
              </button>
            </div>
            <div class="col-1">
              <label for="deleteBtn"> &nbsp;</label>
              <button id="deleteBtn" class="btn btn-warning" [disabled] = "loading" type="button" (click)="deleteForm(i)">
                x
              </button>
            </div>
          </div>
        </div>
        <!--<div class="form-group col-9">-->
        <!--<label for="questPhoto">Photo</label>-->
        <!--<input type="file" placeholder="+" class="form-control-file" id="questPhoto" name="questPhoto"-->
        <!--(change)="selectFile($event)" accept=".jpeg, .jpg, .img, .png" required>-->
        <!--<div class="row row-upload">-->
        <!--<div class="col-4">-->
        <!--<button type="submit" class="btn btn-success" [disabled]="!questPhoto" (click)="upload()">Upload-->
        <!--</button>-->
        <!--</div>-->
        <!--&lt;!&ndash;todo: fix progress bar&ndash;&gt;-->
        <!--<div class="col-md-8 col-sm-7">-->
        <!--<div class="progress">-->
        <!--<div class="progress-bar progress-bar-info progress-bar-striped"-->
        <!--role="progressbar" attr.aria-valuenow="{{progress.percentage}}"-->
        <!--aria-valuemin="0" aria-valuemax="100"-->
        <!--[ngStyle]="{width:progress.percentage+'%'}">-->
        <!--{{progress.percentage}}%-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <button id="submit" type="submit" class="btn btn-primary btn-block" (click)="createQuest()"
                [disabled] = "!enoughMoneyParticipantsAndSpots || !oneSpotExists || loading"> Create </button>

        <!--</div>-->
      </form>
    </div>
  </div>
</div>
<!--<div class="col-5">-->
<!--<template #parent>-->
<!--</template>-->
<!--<div>-->
<!--<button type="button" (click)="addForm()" class="btn btn-toolbar" style="margin-top: 2%">-->
<!--add spot-->
<!--</button>-->
<!--<div class="row">-->
<!--<div class="col-12">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
