.navbar-brand {
  color: #ffffff;
  font-family: 'Black Han Sans', sans-serif;
  position: relative;
  left: 610px;
}

#signin {
  position: relative;
  left: 1160px;
}
#signup {
  position: relative;
  left: 990px;
}

