
#personal {
  font-family: 'Vollkorn', cursive;
}



.color {
  background: linear-gradient(110.0619952321963deg, rgba(117, 158, 156,1) 5.926470588235294%,rgba(156, 97, 156,1) 95.92647058823528%);
  background-size: 100%;
  height: 100vh;
  overflow: auto;
}


/*

#pwd {
  position: relative;
  left: 400px;
  top: -360px;
}

#newpwd {

  position: relative;
  left: 400px;
  top: -360px;


}

#conpwd {

  position: relative;
  left: 400px;
  top: -360px;


}

#chanpwd {

  position: relative;
  left: 650px;
  top: -370px;


}


#error {
  width: 170px;
  top: -10px;
  left: 30px;



}

#error2 {

  width: 280px;





}
*/
