<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/mainpage">ECity</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
      <li class="nav-item">
        <a id="vk" class="nav-link" routerLink="/vk">Vk</a>
      </li>
      <li class="nav-item">
        <a  id="newquest" class="nav-link" routerLink="/newquest">Create quest</a>
      </li>
      <li class="nav-item">
        <a id="userquests" class="nav-link" routerLink="/userquests">My quest</a>
      </li>
      <li>
        <a id="confirmations" class="nav-link" routerLink="/confirmations">Spot confirmations</a>
      </li>
      <li>
        <button id="profile" type="button" class="btn btn-primary" routerLink="/userPage">Profile</button>
      </li>
      <li>
        <a id="logout"  class="nav-link" (click)="logout()" >Logout</a>
      </li>
    </ul>

  </div>
</nav>
