/*
.navbar-brand {
  color: #white;
  font-family: 'Black Han Sans', sans-serif;
}

#logout {
  position: relative;
  left: 710px;
}

#profile {
  position: relative;
  left: 690px;
}

#confirmations {
  position:relative;
  left: 400px;
}

#userquests {
  position:relative;
  left: 350px;
}

#newquest {
  position:relative;
  left: 250px;
}

#vk {
  position: relative;
  left: 100px;
}
*/
