<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#!">City Explorer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/map">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vk">Vk test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/newquest">Create quest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/userquests">Active quests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/confirmations">Spot confirmations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/userPage">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
